<<<<<<< HEAD
=======

>>>>>>> 42798d498ead8de64b1a6c3b380ee6a5d7a6190c
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<div id="adminView">
<p id="welcome">Welcome {{data.firstName}} {{data.lastName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin. Remember, with great power comes great responsibility!!</p>
<<<<<<< HEAD
=======
<p id="quote">Favorite Quote: {{data.favoriteQuote}}</p>
>>>>>>> 42798d498ead8de64b1a6c3b380ee6a5d7a6190c
<a id="userLink" href="/user">User Page</a>
<a id="logoutLink" href="/logout">Logout</a>
</div>