{{!-- Property Details --}}
<!-- CORRECT BUTTON to go to path to add review -->
<h2>Property Details</h2>

<p>This page allows you to see all reviews for the property {{property.name}}.</p>

<a href="/property/addPropertyReview/{{property.propertyId}}">Want to add a review for this property? Click here.</a>

<div class="property-details">
    
    <h3>Property Information</h3>
    <p>Name: {{property.propertyName}}</p>
    <p>Address: {{property.address}}, {{property.city}}, {{property.state}} {{property.zip}}</p>
    <p>Category: {{property.propertyCategory}}</p>
    <p>Bedrooms: {{property.bedrooms}}</p>
    <p>Bathrooms: {{property.bathrooms}}</p>

    <div id="map"></div> <!-- Placeholder for map integration -->

    <h3>Average Ratings</h3>
    <div>
        <p>Location Desirability Rating: {{property.averageRatings.averageLocationDesirabilityRating}}</p>
        <p>Owner Responsiveness Rating: {{property.averageRatings.averageOwnerResponsivenessRating}}</p>
        <p>Property Condition Rating: {{property.averageRatings.averagePropertyConditionRating}}</p>
        <p>Community Rating: {{property.averageRatings.averageCommunityRating}}</p>
        <p>Amenities Rating: {{property.averageRatings.averageAmenitiesRating}}</p>
    </div>

    <h3>Reviews</h3>
    <div>
        {{#each property.reviews}}
        <div>
            <p>User ID: {{this.userId}}</p>
            <p>Location Desirability Rating: {{this.locationDesirabilityRating}}</p>
            <p>Owner Responsiveness Rating: {{this.ownerResponsivenessRating}}</p>
            <p>Property Condition Rating: {{this.propertyConditionRating}}</p>
            <p>Community Rating: {{this.communityRating}}</p>
            <p>Amenities Rating: {{this.amenitiesRating}}</p>
        </div>
        {{/each}}
    </div>

    <h3>Comments</h3>
    <div>
        {{#each property.comments}}
        <div>
            <p>User ID: {{this.userId}}</p>
            <p>Comment Text: {{this.commentText}}</p>
            <p>Date Created: {{this.dateCreated}}</p>
            <p>Likes: {{this.likes}} <a href="/thread_routes/upvote/{{this.commentId}}">Like</a></p>
            <p>Dislikes: {{this.dislikes}} <a href="/thread_routes/downvote/{{this.commentId}}">Dislike</a></p>
        </div>
        {{/each}}
    </div>
</div>

<!-- Add Comment Form -->
    <form action="/property_routes/addComment/{{property.propertyId}}" method="post">
      <label for="comment">Add a comment:</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
      <input type="submit" value="Submit">
    </form>

<!-- Map --> 

<script type="text/javascript">

function initMap() {
const mapCenter = { lat: {{property.longitude}}, lng: {{property.latitude}} }; // Center of the map
const map = new google.maps.Map(document.getElementById("map"), {
center: mapCenter,
zoom: 8,
});

const marker = new google.maps.Marker({
position: mapCenter, 
map: map, 
title: "{{property.propertyName}}", 
});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDvaS1aQfxqdosmuu2gUJk-uE-pQeTKBI&callback=initMap" async defer></script>

