{{!-- Property Details --}}
<!-- CORRECT BUTTON to go to path to add review -->
<h2>Property Details</h2>

<p>This page allows you to see all reviews for the property {{property.name}}.</p>

<hr>
<h3>Would You Like to Bookmark This Property?</h3>
<form id="bookmarkForm" method="POST" action = "/user/addBookmark/{{property.propertyId}}">
    <label for="addBookmark">
    <input type="radio" id="addBookmark" name="action" value="add" checked>
        Yes, add this property to my bookmarks
    </label>
    <button type="submit" id="bookmarkButton">Submit</button>
</form>

<hr>
<div class="property-details">
    
    <h3>Property Information</h3>
    <p>Name: {{property.propertyName}}</p>
    <p>Address: {{property.address}}, {{property.city}}, {{property.state}} {{property.zip}}</p>
    <p>Category: {{property.propertyCategory}}</p>
    <p>Bedrooms: {{property.bedrooms}}</p>
    <p>Bathrooms: {{property.bathrooms}}</p>

    <div id="map"></div> <!-- Placeholder for map integration -->
<hr>
    <h3>Average Ratings</h3>
    <div>
        <p>Location Desirability Rating: {{property.averageRatings.locationDesirabilityRating}}</p>
        <p>Owner Responsiveness Rating: {{property.averageRatings.ownerResponsivenessRating}}</p>
        <p>Property Condition Rating: {{property.averageRatings.propertyConditionRating}}</p>
        <p>Community Rating: {{property.averageRatings.communityRating}}</p>
        <p>Amenities Rating: {{property.averageRatings.amenitiesRating}}</p>
    </div>
    <hr>

    <h3>Reviews</h3>
    <p><a href="/property/PropertyReview/{{property.propertyId}}">Want to add a review for this property? Click here.</a></p>
    <div>
        {{#each property.reviews}}
        <div>
            <h4>Author: {{this.userRealName}} </h4>
            <p>Location Desirability Rating: {{this.locationDesirabilityRating}}</p>
            <p>Owner Responsiveness Rating: {{this.ownerResponsivenessRating}}</p>
            <p>Property Condition Rating: {{this.propertyConditionRating}}</p>
            <p>Community Rating: {{this.communityRating}}</p>
            <p>Amenities Rating: {{this.amenitiesRating}}</p>
            <p>Review Text:{{this.reviewText}}</p>
        </div>
        <hr>
        {{/each}}
    </div>
    <hr>
<!-- Add Comment Form -->
    <h3>Comments</h3>
    <form action="/property/addComment/{{property.propertyId}}" method="post">
      <label for="comment">Use this text form to add your own comment!</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
      <input type="submit" value="Submit">
    </form>

    <h4>Past Comments</h4>
    <div>
        {{#each property.comments}}
        
        <div>
            <p>User Name: {{this.userRealName}}</p>
            <p>Comment Text: {{this.commentText}}</p>
            <p>Date Created: {{this.formattedCreatedDate}}</p>
              <p>Likes: {{this.likes}} <a href="/property/upvote/{{this.commentId}}">Add Like</a></p>
        <p>Dislikes: {{this.dislikes}} <a href="/property/downvote/{{this.commentId}}">Add Dislike</a></p>
        </div>
        <hr>
        {{/each}}
    </div>
</div>

<h3>Report This Property Page</h3>
  <form action="/report/property/{{userId}}/{{property.propertyId}}" method="get">
   <label for="submitCommentButton">Report property?</label><br>
      <input class="btn" type="submit" value="Report" id="submitCommentButton">
    </form>

<!-- Map --> 

<script type="text/javascript">

function initMap() {
const mapCenter = { lat: {{property.longitude}}, lng: {{property.latitude}} }; // Center of the map
const map = new google.maps.Map(document.getElementById("map"), {
center: mapCenter,
zoom: 8,
});

const marker = new google.maps.Marker({
position: mapCenter, 
map: map, 
title: "{{property.propertyName}}", 
});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDvaS1aQfxqdosmuu2gUJk-uE-pQeTKBI&callback=initMap" async defer></script>

