{{!-- ADD ROUTES. UPVOTE/DOWNVOTE THREADS AND COMMENTS --}}

{{!-- Community Forum --}}
<h2>{{threadData.title}}</h2>

<a href="/thread">Want to see all threads? Click here.</a>

<div class="forum-threads">

    <p>Category: {{threadData.category}}</p>
    <p>Created by: {{threadData.userId}}</p>
    <p>Created Date: {{threadData.createdDate}}</p>
    <p>Last Updated: {{threadData.lastUpdated}}</p>
    <p>Likes: {{threadData.likes}} <a href="/thread/upvote/{{threadData.threadId}}">Like Thread</a></p>
    <p>Dislikes: {{threadData.dislikes}} <a href="/thread/downvote/{{threadData.threadId}}">Downvote Thread</a></p>

    <p>Comments:</p>

    <p><a href="/addComment/{{threadData.threadId}}"></a>Add a comment to this thread.</p>

    <div class="comments">
    {{#each threadData.comments}}
    <div class="comment">
        <p>User ID: {{threadData.userId}}</p>
        <p>Comment Text: {{threadData.commentText}}</p>
        <p>Date Created: {{threadData.dateCreated}}</p>
        <p>Likes: {{threadData.likes}} <a href="/thread/upvoteComment/{{threadData.commentId}}">Like Comment</a></p>
        <p>Dislikes: {{threadData.dislikes}} <a href="/thread/downvoteComment/{{threadData.commentId}}">Dislike Comment</a></p>
    </div>
    {{/each}}

  </div>


  <!-- Add Comment Form -->
    <form action="/thread/addComment/{{this.threadId}}" method="post">
      <label for="comment">Add a comment:</label><br>
      <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
      <input type="submit" value="Submit">
    </form>

</div>

<!--{{! Community Forum }}
<h2>Community Forum</h2>
<div class="forum-threads">
{{#each threads}}
<div class="thread">
<h3>{{this.title}}</h3>
<p>{{this.summary}}</p>
<! Add link to full thread discussion >
</div>
{{/each}}
</div>-->

