{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<div id="userView">
<p id="welcome">Welcome {{data.firstName}} {{data.lastName}}, the time is now: {{currentTime}}. Your role in the system is: {{data.role}}.</p>
<p id="quote">Favorite Quote: {{data.favoriteQuote}}</p>
{{#if isAdmin}}
    <a id="adminLink" href="/admin">Admin Page</a>
{{/if}}
<a id="logoutLink" href="/logout">Logout</a>
</div>
