{{!-- User Profile --}}
<h2>{{user.name}}'s Profile</h2>
<div class="user-details">
<p>Email: {{user.email}}</p>
<p>Rental History: </p>
<ul>
{{#each user.rentalHistory}}
<li>{{this.propertyName}} - {{this.duration}}</li>
{{/each}}
</ul>
<p>Bookmarked Properties: </p>
<ul>
{{#each user.bookmarks}}
<li>{{this.propertyName}} - {{this.rating}}</li>
{{/each}}
</ul>
</div>
